/* ====== BASE COLORS AND FONTS ====== */
body {
    background-color: #ffedd3;
    color: #27233A;
}

/* ====== HEADER STYLES ====== */
header {
    background-color: #ffedd3;
}

.header-title {
    font-size: 2em;
    color: #27233A;
}

/* ====== NAVIGATION COLORS ====== */
nav a {
    color: #27233A;
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

nav a:hover {
    color: #201b38;
    background-color: #f7d6a9;
    text-decoration: none; /* Removes underline on hover */
}
/* ====== HERO SECTION COLORS ====== */
.hero {
    background-color: #DCC48E;
}

.hero h2 {
    font-size: 36px;
    color: #27233A;
}

.hero p {
    font-size: 18px;
    color: #27233A;
}

/* ====== BUTTON STYLES ====== */
.button {
    background-color: #505168;
    color: white;
}

/* ====== SECTION COLORS ====== */
.services,
.hiring,
.contact {
    color: #27233A;
}

/* ====== FOOTER COLORS ====== */
footer {
    background-color: #27233A;
    color: white;
}
