/* ====== BASE COLORS AND FONTS ====== */
body {
    background-color: #ffedd3;
    color: #27233A;
    font-family: 'arial', sans-serif;
}

/* ====== HEADER STYLES ====== */
.index-header {
    background-color: #ffedd3;
}

.index-header-title {
    font-size: 2em;
    color: #27233A;
}

/* ====== NAVIGATION COLORS ====== */
.index-navbar a {
    color: #27233A;
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

.index-navbar a:hover {
    color: #201b38;
    background-color: #f7d6a9;
    text-decoration: none; /* Removes underline on hover */
}

/* ====== HERO SECTION COLORS ====== */
.index-hero {
    background-color: #DCC48E;
}

.index-hero h2 {
    font-size: 36px;
    color: #27233A;
}

.index-hero p {
    font-size: 18px;
    color: #27233A;
}

/* ====== BUTTON STYLES ====== */
.index-button {
    background-color: #505168;
    color: white;
    box-shadow: 0.125em 0.125em #857756;
}

.index-button:hover {
    background-color: #3a3a4d;
    color: white;
}

.index-button:active {
    background-color: #3a3a4d;
    color: white;
    box-shadow: none;
}

/* ====== SECTION COLORS ====== */
.index-services,
.index-hiring,
.index-contact {
    color: #27233A;
}

/* ====== FOOTER COLORS ====== */
.index-footer {
    background-color: #27233A;
    color: white;
}
